.well {
  background-color: #ffffff;
}

.navbar-inverse {
  background-color: #495b81;
  border: 0;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: inherit;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fffc;
}

.sidebar-top-heading {
  margin-top: 0;
}

.well > .page-header {
  margin: 20px 0 20px 0;
}

.body-tabs .tab-content {
  padding:19px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-top: 0;
}

.progress {
  height: 16px;
  margin-bottom: 15px;
}

.progress .progress-bar {
  font-size: 12px;
  line-height: 16px;
}

#shiny-notification-panel {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0;
}

.shiny-notification {
  background-color: transparent;
  color: #fff;
  border: 0;
  opacity: 1;
}

.shiny-progress-notification .progress {
  height: 16px;
}

.shiny-progress-notification .progress-text .progress-message {
  font-size: 100%;
  display: block;
}

.shiny-progress-notification .progress-text .progress-detail {
  font-size: 100%;
  display: block;
}

.shiny-notification-close {
  display: none;
}

#loading-content {
  position: fixed;
  background: #000000;
  opacity: 0.9;
  z-index: 9999;
  left: 0;
  right: 0;
  height: 100%;
  text-align: center;
  color: #FFFFFF;
}

#mainTabs > li > a {
  font-size: 20px;
}

#enrichmentTable table {
  white-space: nowrap;
}

#splitTree > hr {
  display: none;
}

#splitTree > select {
  display: none !important;
}
